### （一）完成要求的操作

#### 1.创建DataFrame对象products_info存储上面的数据。

In [19]:
import pandas as pd   # 导入pandas包
products_info=pd.DataFrame({"产品名称":["豹纹座","皮纹座","云纹座","50W四色","50W三色","40W白色","40W黄色","50W暖白"],
               "品类":["云座","云座","云座","LED彩","LED彩","LED大","LED大","LED大"],
               "指导价":[60,50,65,100,85,60,70,80],
               "产品经理":["陆路","陆路","陆路","高林","高林","赵小年","赵小年","赵小年"],
               "年度目标":[730000000,530000000,705000000,1050000000,720000000,495000000,540000000,450000000]})
products_info

    产品名称    品类  指导价 产品经理        年度目标
0    豹纹座    云座   60   陆路   730000000
1    皮纹座    云座   50   陆路   530000000
2    云纹座    云座   65   陆路   705000000
3  50W四色  LED彩  100   高林  1050000000
4  50W三色  LED彩   85   高林   720000000
5  40W白色  LED大   60  赵小年   495000000
6  40W黄色  LED大   70  赵小年   540000000
7  50W暖白  LED大   80  赵小年   450000000

#### 2.输出“产品名称”列的信息。

In [20]:
products_info["产品名称"]

0      豹纹座
1      皮纹座
2      云纹座
3    50W四色
4    50W三色
5    40W白色
6    40W黄色
7    50W暖白
Name: 产品名称, dtype: object

#### 3.输出“产品经理”列和“年度目标”列的信息。

In [21]:
products_info[["产品经理","年度目标"]]

  产品经理        年度目标
0   陆路   730000000
1   陆路   530000000
2   陆路   705000000
3   高林  1050000000
4   高林   720000000
5  赵小年   495000000
6  赵小年   540000000
7  赵小年   450000000

#### 4.将各产品“指导价”均上提5元。

In [22]:
products_info["指导价"]=products_info["指导价"]+5
products_info["指导价"]

0     65
1     55
2     70
3    105
4     90
5     65
6     75
7     85
Name: 指导价, dtype: int64

#### 5.输出前两行产品的信息。

In [23]:
products_info.head(2)

  产品名称  品类  指导价 产品经理       年度目标
0  豹纹座  云座   65   陆路  730000000
1  皮纹座  云座   55   陆路  530000000

#### 6.输出任意两行产品的信息。

In [24]:
products_info.iloc[[2,3]]

    产品名称    品类  指导价 产品经理        年度目标
2    云纹座    云座   70   陆路   705000000
3  50W四色  LED彩  105   高林  1050000000

#### 7.将表7-2中所示的两个产品信息增加到products_info中。

In [27]:
new1=pd.DataFrame({"产品名称":"12W黄色","品类":"LED小","指导价":25,"产品经理":"赵小年","年度目标":135000000},index=[8])
products_info=products_info.append(new1)
products_info

    产品名称    品类  指导价 产品经理        年度目标
0    豹纹座    云座   65   陆路   730000000
1    皮纹座    云座   55   陆路   530000000
2    云纹座    云座   70   陆路   705000000
3  50W四色  LED彩  105   高林  1050000000
4  50W三色  LED彩   90   高林   720000000
5  40W白色  LED大   65  赵小年   495000000
6  40W黄色  LED大   75  赵小年   540000000
7  50W暖白  LED大   85  赵小年   450000000
8  12W黄色  LED小   25  赵小年   135000000

In [28]:
new2=pd.DataFrame({"产品名称":"12W白色","品类":"LED小","指导价":18,"产品经理":"赵小年","年度目标":90000000},index=[9])
products_info=products_info.append(new2)

products_info

    产品名称    品类  指导价 产品经理        年度目标
0    豹纹座    云座   65   陆路   730000000
1    皮纹座    云座   55   陆路   530000000
2    云纹座    云座   70   陆路   705000000
3  50W四色  LED彩  105   高林  1050000000
4  50W三色  LED彩   90   高林   720000000
5  40W白色  LED大   65  赵小年   495000000
6  40W黄色  LED大   75  赵小年   540000000
7  50W暖白  LED大   85  赵小年   450000000
8  12W黄色  LED小   25  赵小年   135000000
9  12W白色  LED小   18  赵小年    90000000

#### 8.按“年度目标”列将数据集进行排序（从小到大排序或从大到小排序）。

In [29]:
# products_info['年度目标'].sort_values()      # 升序排列
products_info['年度目标'].sort_values(ascending=False)     # 降序排列

3    1050000000
0     730000000
4     720000000
2     705000000
6     540000000
1     530000000
5     495000000
7     450000000
8     135000000
9      90000000
Name: 年度目标, dtype: int64

#### 9.计算所有产品经理年度目标中的最高年度目标、最低年度目标和平均年度目标。

In [31]:
products_info['年度目标'].groupby(df['产品经理']).max()

产品经理
赵小年     540000000
陆路      730000000
高林     1050000000
Name: 年度目标, dtype: int64

In [32]:
products_info['年度目标'].groupby(df['产品经理']).min()

产品经理
赵小年    450000000
陆路     530000000
高林     720000000
Name: 年度目标, dtype: int64

In [35]:
products_info['年度目标'].groupby(df['产品经理']).mean()

产品经理
赵小年    495000000
陆路     655000000
高林     885000000
Name: 年度目标, dtype: int64

### （二）素材文件“销售数据.xlsx”中存放了某公司所有门店2021年前半年的销售数据，请根据此文件完成下面的操作。
#### 1.将“销售数据.xlsx”中的“销售数据”工作表数据读入DataFrame对象sales_data中。
#### 2.计算每笔销售业务的销售金额，并将计算结果新增到sales_data中（销售金额=销售数量*单价）。
#### 3.计算2021年前半年的销售金额合计。
#### 4.统计2021年前半年销售业务中，各产品的最大销售量。
#### 5.统计2021年前半年销售业务中，各门店各产品的销售金额合计。
#### 6.计算每个月份每种产品的总销量。
#### 7.对每个月的销售数量进行统计性描述输出。
#### 8.对每个门店的销售金额进行统计性描述输出。
#### 9.统计2021年前半年每种产品的销售频次。
#### 10.计算每个月的销售利润总和，并按升序排序计算结果。

In [2]:
# 1.
import pandas as pd   # 导入pandas包
sales_data=pd.read_excel("销售数据.xlsx",sheet_name='销售数据')
sales_data

        年份  月份   门店编码    产品编码   销售数量    单价
0     2021   1  S0001  P00001  55248  52.0
1     2021   1  S0047  P00001  39545  52.0
2     2021   1  S0001  P00003  33063  62.0
3     2021   1  S0047  P00002  33898  47.0
4     2021   1  S0009  P00001  39591  50.0
...    ...  ..    ...     ...    ...   ...
3425  2021   6  S0024  P00010    937  15.0
3426  2021   6  S0020  P00007    463  67.0
3427  2021   6  S0022  P00002    608  46.0
3428  2021   6  S0045  P00007    627  66.0
3429  2021   6  S0020  P00005    216  82.0

[3430 rows x 6 columns]

In [3]:
# 2.
sales_data['销售金额'] = sales_data['销售数量'] * sales_data['单价']
sales_data

In [6]:
# 3.
# 此数据集中的数据都是前半年的，1月-6月
sales_data['销售金额'].sum()

2762605348.0

In [12]:
# 4.
sales_data['销售数量'].groupby(sales_data['产品编码']).max()

产品编码
P00001    55248
P00002    38807
P00003    39796
P00004    37430
P00005    40622
P00006    43023
P00007    33091
P00008    29551
P00009    36403
P00010    27634
Name: 销售数量, dtype: int64

In [15]:
# 5.
temp = sales_data.groupby(['门店编码','产品编码'])
temp["销售金额"].sum()

门店编码   产品编码
S0001  P00001    13670280.0
       P00002     6992754.0
       P00003     9584518.0
       P00004    16156596.0
       P00005     9348820.0
                    ...
S0060  P00006     3356808.0
       P00007     3308580.0
       P00008     5092404.0
       P00009     1188663.0
       P00010     1082016.0
Name: 销售金额, Length: 563, dtype: float64

In [16]:
# 6.
temp = sales_data.groupby(['月份','产品编码'])
temp["销售数量"].sum()

月份  产品编码
1   P00001    1129047
    P00002     993135
    P00003     998501
    P00004     922178
    P00005     877843
    P00006     964678
    P00007     663773
    P00008     610944
    P00009     645556
    P00010     697756
2   P00001    1365682
    P00002    1233637
    P00003    1246361
    P00004    1173629
    P00005    1115714
    P00006    1180597
    P00007     844640
    P00008     752979
    P00009     798507
    P00010     874130
3   P00001     963275
    P00002     910195
    P00003     866514
    P00004     852378
    P00005     803697
    P00006     854596
    P00007     594590
    P00008     565535
    P00009     593968
    P00010     631658
4   P00001     861505
    P00002     797908
    P00003     781128
    P00004     739704
    P00005     673577
    P00006     750073
    P00007     520302
    P00008     477868
    P00009     488064
    P00010     528193
5   P00001     852565
    P00002     795829
    P00003     762495
    P00004     735526
    P00005     669863
    P00006     723319
    P00007     523491
    P00008     477539
    P00009     507904
    P00010     528282
6   P00001     998667
    P00002     894866
    P00003     877541
    P00004     851149
    P00005     784153
    P00006     836301
    P00007     598944
    P00008     528284
    P00009     586547
    P00010     594191
Name: 销售数量, dtype: int64

In [18]:
# 7.
sales_data["销售数量"].groupby(sales_data["月份"]).describe()

,count,mean,std,min,25%,50%,75%,max
月份,,,,,,,,
1,572.0,14866.103147,7471.840590,266.0,9846.00,14253.0,19103.25,55248.0
2,576.0,18378.256944,7950.803739,476.0,13053.25,17581.5,23174.00,54951.0
3,571.0,13373.740806,6693.165974,245.0,8948.00,12830.0,17290.50,43330.0
4,571.0,11590.756567,5980.840686,164.0,7619.00,11035.0,14911.50,35493.0
5,570.0,11538.268421,5853.394094,142.0,7888.25,11056.5,14601.75,35623.0
6,570.0,13246.742105,6898.294615,216.0,8585.00,12603.5,17421.75,38245.0

In [19]:
# 8.
sales_data["销售金额"].groupby(sales_data["门店编码"]).describe()

,count,mean,std,min,25%,50%,75%,max
门店编码,,,,,,,,
S0001,60.0,1.388069e+06,724585.257898,251991.0,890859.25,1285915.0,1838739.00,3488400.0
S0002,60.0,1.063497e+06,589466.843576,263952.0,498525.00,1077082.5,1428768.00,2824364.0
S0003,60.0,7.876286e+05,426566.384312,147777.0,604828.50,780905.5,947757.00,2159683.0
S0004,60.0,7.217499e+05,363422.019018,147075.0,518790.00,720445.0,881811.25,1612160.0
S0005,60.0,5.911646e+05,383824.187720,81824.0,223409.25,517308.5,867655.50,1415370.0
S0006,48.0,1.089912e+06,456643.335410,245427.0,828916.00,1097530.5,1316803.00,2140190.0
S0007,60.0,6.748158e+05,372829.633765,116430.0,216266.25,729980.0,1000056.25,1377255.0
S0008,48.0,4.696657e+05,307128.791194,111628.0,204291.50,394162.5,608109.50,1342218.0
S0009,60.0,1.419227e+06,714068.033702,283860.0,1053633.75,1397725.0,1902250.00,3249760.0
S0010,60.0,1.032156e+06,554570.907187,203728.0,726403.50,965599.0,1319499.50,2480232.0
S0011,36.0,3.450272e+05,363468.664325,14160.0,106156.50,268725.0,407145.25,1955865.0
S0012,47.0,4.051598e+05,357155.635451,30520.0,174962.50,384120.0,539595.00,1821800.0
S0013,60.0,1.013405e+06,478668.468079,187965.0,771525.00,1042942.5,1387325.00,2138550.0
S0014,60.0,4.163720e+05,278057.935597,87945.0,256087.50,322862.5,438003.75,1451300.0
S0015,60.0,5.651194e+05,326497.873121,177330.0,381945.00,495635.0,575745.00,1705700.0
S0016,60.0,4.029177e+05,337920.282273,18510.0,100792.50,342040.0,675853.75,1269900.0
S0017,54.0,9.912494e+05,675936.895631,157580.0,547098.75,829125.0,1374015.00,2945900.0
S0018,60.0,7.913778e+05,499124.361514,94620.0,514470.00,695977.5,1104165.00,2425400.0
S0019,36.0,1.016216e+06,584496.048599,121584.0,483886.00,1036991.0,1432474.50,2292141.0
S0020,41.0,4.062299e+05,415902.602230,11644.0,84621.00,212323.0,711984.00,1585844.0
S0021,60.0,3.507483e+05,329984.698368,14433.0,72754.75,280493.0,514671.00,1491412.0
S0022,43.0,4.727062e+05,515182.355121,10160.0,64134.00,275094.0,885467.00,1926585.0
S0023,60.0,7.251964e+05,377517.778379,115904.0,520479.50,737205.5,999651.00,1585899.0
S0024,56.0,3.039744e+05,189668.834779,14055.0,200378.75,261965.0,399137.50,1027500.0
S0025,60.0,1.137486e+06,660543.549610,196365.0,745515.00,1032692.5,1596835.00,2912960.0
S0026,54.0,1.113605e+06,807212.217430,182920.0,658740.25,878807.0,1473240.00,3763596.0
S0027,60.0,1.571916e+06,845088.074374,263536.0,1154542.50,1522434.5,1931093.25,3780430.0
S0028,42.0,2.980177e+05,257459.263626,66235.0,117210.00,248142.5,378947.50,1442720.0
S0029,60.0,9.042285e+05,490531.711168,182700.0,639202.50,822732.5,1102998.75,2222100.0
S0030,60.0,4.620282e+05,389027.215311,14008.0,134526.25,341539.0,678865.00,1700952.0
S0031,60.0,1.210147e+06,767712.953765,194446.0,564219.00,1137986.5,1704510.00,3230964.0
S0032,60.0,1.065683e+06,565573.708643,160335.0,781705.00,1062100.0,1412835.00,2643300.0
S0033,60.0,7.508470e+05,402108.751548,107250.0,594247.50,702535.0,967260.00,1952900.0
S0034,36.0,1.072946e+06,505024.719126,524000.0,684923.75,935970.0,1433420.00,2740700.0
S0035,60.0,8.633628e+05,552128.861933,123360.0,560655.00,749110.0,1245352.50,2634560.0
S0036,54.0,9.116185e+05,487757.235988,167184.0,602728.50,940368.5,1273697.25,1949805.0
S0037,108.0,8.315288e+05,463344.287689,182272.0,499663.50,796594.5,1053990.00,2854765.0
S0038,60.0,8.337128e+05,438790.216069,159712.0,608735.75,801766.0,1102667.00,1959198.0
S0039,60.0,5.477439e+05,336374.595236,72590.0,322172.50,496671.0,763239.75,1402688.0
S0040,60.0,7.275162e+05,396417.146221,105840.0,545990.00,730182.0,904151.00,2203113.0
S0041,59.0,3.229748e+05,177144.019668,57220.0,223647.50,310850.0,423060.00,829000.0
S0042,60.0,7.651578e+05,394334.183630,113872.0,533153.50,824489.0,1024128.00,1684719.0
S0043,60.0,4.242732e+05,292403.005397,35120.0,244920.00,347830.0,557490.00,1443180.0
S0044,60.0,4.630782e+05,318800.619266,54000.0,240077.25,421288.0,658101.00,1445916.0
S0045,46.0,4.121529e+05,447447.172710,12810.0,48345.00,409815.5,580749.00,2258461.0
S0046,60.0,8.056329e+05,581414.869595,133059.0,414646.25,645169.0,1225770.00,2724204.0
S0047,60.0,1.299931e+06,574339.824545,219120.0,1049134.00,1383443.0,1655733.00,2307152.0
S0048,60.0,8.962910e+05,485556.596320,200400.0,581112.00,889691.0,1143400.50,2625495.0
S0049,60.0,8.133025e+05,389791.585810,160128.0,629007.00,792909.0,1042076.25,1770732.0
S0050,60.0,1.336145e+06,651667.895656,201392.0,833413.00,1486620.5,1836986.25,2606013.0
S0051,60.0,8.040217e+05,374153.319242,183180.0,598652.50,793867.5,1020160.00,1768600.0
S0052,42.0,9.626240e+05,291419.213564,458315.0,741870.00,956185.0,1092600.00,1789520.0
S0053,60.0,9.274325e+05,507526.024781,103929.0,561232.00,982924.0,1179564.75,2332881.0
S0054,60.0,5.998061e+05,318481.127659,123088.0,455662.50,584839.0,738381.75,1967985.0
S0055,60.0,8.567662e+05,532549.691145,150399.0,555928.75,759191.5,1050528.00,2518584.0
S0056,60.0,9.644927e+05,572699.405412,198690.0,576040.00,897687.5,1261802.50,2220800.0
S0057,60.0,7.201084e+05,353135.381850,136187.0,527756.50,714437.5,893268.00,1579470.0
S0058,60.0,8.625289e+05,485041.813789,135898.0,623109.75,784636.5,1239643.50,2372724.0
S0059,60.0,1.186564e+06,585219.465383,139995.0,981313.50,1265056.0,1482685.00,2558466.0
S0060,60.0,6.465480e+05,332481.729081,147792.0,462018.50,629953.0,827136.75,1533382.0

In [20]:
# 9.
sales_data["销售数量"].groupby(sales_data["产品编码"]).count()

产品编码
P00001    366
P00002    366
P00003    366
P00004    363
P00005    337
P00006    366
P00007    324
P00008    281
P00009    310
P00010    351
Name: 销售数量, dtype: int64

In [21]:
# 10.
sales_data["销售金额"].groupby(sales_data["月份"]).sum().sort_values()

月份
5    382567811.0
4    385906738.0
6    440110223.0
3    444119996.0
1    493566283.0
2    616334297.0
Name: 销售金额, dtype: float64